<html>
  <head>
    <title>Yin Lynn Htun's blog</title>
  </head>
  <body>
    <div>
      <h1>
        <a href="#"> Yin Lynn Htun's Blog</a>
      </h1>
    </div>

    <div>
      <p>published: 22.05.2020, 1:15 a.m.</p>
      <h2><a href="#">My first post</a></h2>
      <h4>I have been willing to do Django for a few weeks. But I didn't learn. May be because of I
        am focusing on ICPC programs or Kattis or may be I cant find resources of Django or may be just
         because of I was lazy to learn.</h4>
      <h3> However, I make up my mind and I start learning of Django Today. It is really fun and I love it.</h3>
      <h2>I would like to thank to myself for having this enough courage to learn Framework</h2>
      <h2>Keep going , Yin Lynn Htun</h2>
    </div>

    </body>
    </html>
